<!DOCTYPE html>
<html>
<head>
    <title>Banking App</title>
</head>
<body>

<h1>Banking App</h1>

<hr>

<h2>Create Account</h2>
<form action="/create" method="post">
    Name: <input type="text" name="name" required>
    <button>Create</button>
</form>

<hr>

<h2>Deposit</h2>
<form action="/deposit" method="post">
    Account No: <input type="number" name="acc" required>
    Amount: <input type="number" name="amount" required>
    <button>Deposit</button>
</form>

<hr>

<h2>Withdraw</h2>
<form action="/withdraw" method="post">
    Account No: <input type="number" name="acc" required>
    Amount: <input type="number" name="amount" required>
    <button>Withdraw</button>
</form>

<hr>

<h2>Transfer Money</h2>
<form action="/transfer" method="post">
    From Account: <input type="number" name="from_acc" required><br><br>
    To Account: <input type="number" name="to_acc" required><br><br>
    Amount: <input type="number" name="amount" required><br><br>
    <button>Transfer</button>
</form>

<hr>

<h2>Transaction History</h2>
<form action="/history" method="post">
    Account No: <input type="number" name="acc" required>
    <button>View History</button>
</form>

<hr>

<h2>Delete Account</h2>
<form action="/delete" method="post">
    Account No: <input type="number" name="acc" required>
    <button>Delete</button>
</form>

</body>
</html>
